$background-grey: #001970;
$button-grey: #FFF;

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand/Quicksand-Light.ttf);
  src: url(fonts/Quicksand/Quicksand-Regular.ttf);
  src: url(fonts/Quicksand/Quicksand-Medium.ttf);
  src: url(fonts/Quicksand/Quicksand-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: $background-grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  overflow: hidden;
  // position: relative;
  padding: 0;
  margin: 0;
}

.home-container {
  display: flex;
  height: 100vh !important;
  min-height: 100vh;
  flex-direction: column;
  width: 100% !important;
  justify-content: center;
  align-items: center;
}

.details-wrap {
  width: 60% !important;
  text-align: center;
  z-index: 3;
}

.details-wrap h1 {
  font-family: 'Quicksand', sans-serif !important;
}

.details-wrap p {
  font-family: 'Raleway', sans-serif;
}

.div-opacity {
  position: absolute !important;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3) !important;
  z-index: 2 !important;
  // left: 0;
  // top: 0;
  // bottom: 0;
}

button {
  font-family: 'Quicksand', sans-serif !important;
  margin-top: 15px;
  font-size: 1.37rem;
  cursor: pointer;
  background: $button-grey;
  height: 50px;
  width: 180px;
  color: $background-grey;
  font-weight: 900;
  outline: none !important;
  // border: none !important;
  border-radius: 20px 20px 20px 0px;
  border: 4px dotted $background-grey !important;
  box-shadow: 0px 0px 20px 0px #cccccc;
}

.container {
  font-size: 1.3rem;
}

.is-completed {
  text-decoration: line-through;
  color: $button-grey;
}

.tdl-input {
  padding: .5rem;
  margin: 1rem 0;
}

.tdl-task {
  padding: .5rem;
}